{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<style>
body {
    background-color: #1A1929;
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    background-color: #0D0C12;
    color: #F2CFC2;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

h1 {
    color: #F2CFC2;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

h3 {
    color: #F22E76;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.title {
    color: #F22E76;
}

.subtitle {
    color: #9b0039;
}

ul {
    color: #F2CFC2;
    font-size: 1rem;
    list-style-type: disc;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 10px;
}

p.lead {
    color: #F2CFC2;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

a {
    color: #F22E76;
    text-decoration: none;
}

a:hover {
    color: #590322;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    grid-template-rows: repeat(2, auto); /* Dos filas ajustadas al contenido */
    grid-gap: 20px;
    padding: 20px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2; /* Ocupa dos filas en la primera columna */
    background-color: #0D0C12;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.div2 {
    grid-area: 1 / 2 / 2 / 3; /* Segunda columna, primera fila */
    background-color: #0D0C12;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.div3 {
    grid-area: 2 / 2 / 3 / 3; /* Segunda columna, segunda fila */
    background-color: #0D0C12;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .parent {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        grid-template-rows: auto; /* Ajustar el contenido */
    }

    .div1, .div2, .div3 {
        grid-area: auto; /* Se ajustarán automáticamente en una sola columna */
    }
}
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4 title">Bienvenido a SketchGallery</h1>
    <p class="lead">Aquí podrás crear tus obras maestras artísticas y organizarlas a tu gusto.</p>
    <p class="lead">Tendrás infinitas formas de presentar tu galería a otros usuarios.</p>
</div>

<h1>Características</h1>
<div class="parent">
    <div class="div1">
        <h1 class="subtitle">Dibujo</h1>
        <p class="lead">En esta página podrás dar rienda suelta a tu creatividad. Dispones de tres secciones clave:</p>
        <h3>Capas</h3>
        <ul>
            <li>Puedes añadir o eliminar capas según lo requiera tu proyecto.</li>
            <li>Reorganiza las capas con una interfaz de arrastrar y soltar.</li>
            <li>Guarda tus dibujos, eligiendo un nombre y descripción, y también podrás descargarlos en tu dispositivo.</li>
        </ul>
        <h3>Lienzo</h3>
        <ul>
            <li>Tendrás un espacio gráfico compatible con tabletas digitalizadoras y dispositivos táctiles.</li>
        </ul>
        <h3>Herramientas</h3>
        <ul>
            <li>Puedes cambiar entre diferentes herramientas de dibujo: Bolígrafo, Pincel, Lápiz, Aerosol y Marcador.</li>
            <li>Dispones de un borrador para correcciones.</li>
            <li>Puedes cambiar el color, opacidad y grosor de las líneas.</li>
        </ul>
    </div>

    <div class="div2">
        <h1 class="subtitle">Galería</h1>
        <p class="lead">Aquí encontrarás todas tus obras creadas. Podrás verlas, cambiarles el nombre o descripción, editarlas o eliminarlas.</p>
        <p class="lead">Reorganiza tus obras con una interfaz de arrastrar y soltar.</p>
    </div>

    <div class="div3">
        <h1 class="subtitle">Perfil</h1>
        <p class="lead">Al registrarte, podrás actualizar tu información y foto de perfil cuantas veces quieras.</p>
    </div>
</div>

<h1>Desarrollo del Proyecto</h1>
<div class="parent">
    <div class="jumbotron">
        <h1 class="display-4 title">¿Por qué?</h1>
        <p class="lead">SketchGallery se creó para combinar la creación de dibujos y la gestión de los mismos en un solo lugar, optimizando el flujo de trabajo.</p>
    </div>
    
    <div class="jumbotron">
        <h1 class="display-4 title">¿Quién?</h1>
        <p class="lead">Desarrollado por Pedro Delgado usando Django para el backend y HTML, CSS, JS y Bootstrap para el frontend. Los datos se almacenan en SQLite.</p>
        <p class="lead">Puedes ver el repositorio en GitHub <a href="https://github.com/PedroDelgado1205/titulacion.git" target="_blank">aquí</a>, o explorar otros proyectos <a href="https://github.com/PedroDelgado1205?tab=repositories" target="_blank">aquí</a>.</p>
        <br>
        <p class="lead">Esta aplicación web fue desarrollada como un Proyecto Integrador en la carrera de Desarrollo de Software del Instituto Wissen.</p>
    </div>
</div>
{% endblock %}
