{% extends 'base.html' %}

{% block extra_css %}
<style>

    body {
        background-color: #1A1929;
        font-family: 'Poppins', sans-serif;
    }

    .row{
        padding-top: 25px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .gallery-item {
        width: 300px;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
    }

    /* Estilos generales de la galería */
    h1 {
        color: #F2CFC2;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
    }

    /* Contenedor de las cartas de la galería */
    .card {
        background-color: #F2CFC2;
        border: 1px solid #590322;
        border-radius: 12px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }

    .card-img-top {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        max-width: 250px;
        max-height: 250px;
        object-fit: cover;
        margin: auto;
        padding: auto;
    }

    .card-title {
        color: #F2CFC2;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-body{
        background-color: #1A1929;
        color: #F22E76;
    }

    /* Footer de la carta con los botones */
    .card-footer {
        background-color: #1A1929;
        border-top: 1px solid #590322;
    }

    /* Estilos para los botones de las cartas */
    .btn-pri {
        background-color: #F22E76 !important;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 1.2rem;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-pri:hover {
        background-color: #590322 !important;
        color: #F2CFC2;
    }

    .btn-dan {
        background-color: #590322 !important;
        color: #F2CFC2 !important;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 1.2rem;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-dan:hover {
        background-color: #F22E76 !important;
    }

    .btn-war {
            background-color: #F2CFC2 !important;
            border: none;
            border-radius: 50px;
            padding: 10px 20px;
            font-size: 1.2rem;
            transition: background-color 0.3s, color 0.3s;
        }

        .btn-war:hover {
            background-color: #590322 !important;
            color: #F2CFC2;
        }

    /* Estilos del contenedor de la galería */
    #sortable-gallery {
        margin-top: 20px;
    }

    #sortable-gallery .col-lg-4 {
        margin-bottom: 30px;
    }

    .nav-search{
        background-color: #F2CFC2 !important;
    }

    .lead {
        padding-top: 25px;
        color: #F2CFC2; 
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .card-body{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card-text{
        height: 2em;
        overflow-x: hidden;
        overflow-y: scroll visible;
        scrollbar-width: thin;
        scrollbar-color: #590322 #F22E76;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <!-- Título de la galería -->
    <h2>Galería de {{ autor.usuario.username }}</h2> 
    <!-- Botón para ir al perfil del autor buscado -->
    <a href="{% url 'inicio:perfil_busqueda' autor.id %}" class="btn btn-dan mt-3">Ir al perfil <i class="fa-solid fa-circle-right fa-2xl"></i></a>
    <div class="row">
        <!-- carga de las obras del autor -->
        {% if obras %}
        {% for obra in obras %}
            <div class="col-md-4">
                <!-- tarjetas para contener las obras -->
                <div class="card mb-4">
                    <img src="{{ obra.imagen.url }}" class="card-img-top" alt="{{ obra.titulo }}">
                    <div class="card-body d-flex align-items-center justify-content-around" style="max-height: 125px; min-height: 125px;">
                        <div class="col-mb-2">
                            <h5 class="card-title">{{ obra.titulo }}</h5>
                            <p class="card-text">{{ obra.descripcion }}</p>
                        </div>
                        <div class="col-mb-2">
                            <!-- botón para ver la obra -->
                            <a class="btn btn-pri" href="{% url 'galeria:ver_obra_busqueda' obra.id autor.id %}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <!-- descargar obra -->
                            <a href="{{ obra.imagen.url }}" class="btn btn-war" target="_blank"><i class="fa-solid fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <!-- mensaje si el autor no tiene obras -->
            <p class="lead">Este autor aún no tiene obras</p>
        {% endif %}
    </div>
</div>
{% endblock %}
